#noticias {
    height: auto;
  
    .container {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }

  
  .noti {
    align-items: center;
    justify-content: center;
    text-align: center;
  }